<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width:1010px)" href="../static/CSS/phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/Assets/logo.jpg" type="image/x-icon">
    <title>Ventron</title>
</head>

<body>
    <!-- Naviation Section -->
    <nav id="navbar">
        <div id="logo" onclick="window.location.href = '/'"><img src="../static/Assets/logo.jpg" alt="Logo"></div>
        <div id="hamburger" onclick="clickHamburger()">
            <div class="hamburger-bar" id="hamburger-bar1"></div>
            <div class="hamburger-bar" id="hamburger-bar2"></div>
            <div class="hamburger-bar" id="hamburger-bar3"></div>
        </div>
        <ul id="nav-ul">
            <li><a href="#home-section">Home</a></li>
            <li><a href="#service-section">Services</a></li>
            <li><a href="#projects-section">Projects</a></li>
            <li><a href="#contact-section">Contact US</a></li>
        </ul>
    </nav>
    <!-- Naviation Section -->

    <!-- Home Section -->
    <div id="home-section">
        <div class="center">
            <h2 class="h-primary">Welcome to Ventron</h2>
            <p>Hello World!</p>
        </div>
    </div>
    <!-- Home Section -->

    <!-- Service Section -->
    <div id="service-section">
        <h1 class="center">Our Services</h1>
        <div id="service-section-item">
            <div class="box">
                <img src="../static/Assets/html-5_logo.jpg" alt="html5">
                <h2>HTML5</h2>
                <p>Description.</p>
            </div>

            <div class="box">
                <img src="../static/Assets/nodejs_logo.jpg" alt="nodejs">
                <h2>NODE JS</h2>
                <p>Description.</p>
            </div>

            <div class="box">
                <img src="../static/Assets/maintenance.png" alt="maintenance">
                <h2>Maintainable Code</h2>
                <p>Description.</p>

            </div>
        </div>
    </div>
    <!-- Service Section -->

    <!-- Projects Section -->
    <div id="projects-section">
        <h1 class="center">Our Projects</h1>
        <div id="projects-section-item">
            <div class="box">
                <img src="../static/Assets/html-5_logo.jpg" alt="html5">
                <h2>HTML5</h2>
                <p>Description</p>
                <a href="http://127.0.0.1:5500/views/index.html"><Button class="btn">Open Project</Button></a>
            </div>
        </div>
    </div>
    <!-- Projects Section -->

    <!-- Contact Section -->
    <div id="contact-section">
        <h2>Feel Free To Contact Us</h2>
        <div class="contact-section-items">
            <a href="https://www.facebook.com/jubayer.iqbal.07" class="fa fa-facebook"></a>
            <a href="https://twitter.com/wearevenom07" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/__m00nknight__" class="fa fa-instagram"></a>
            <!-- <a href="" class="fa fa-github"></a> -->
        </div>
    </div>
    <!-- Contact Section -->

    <script src="../static/JS/index.js"></script>

</body>

</html>